
*{margin: 0; 
    
    padding: 0;} 
body {

background: #000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}
 canvas {
display: block;

height: 100vh;
width: 100vw;
 position: absolute;

z-index: -99999;
 }
 .form {
 color: #6cff6c;
 width: 350px;
 padding: 20px;
 border-radius: 5px;
 border: 1px solid rgb(225, 101, 230);
 font-size: 26px;
 font-family: "Courier New", Courier, monospace;

 }