.backcontainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
}


.maincontainer{
    display: grid;
    background-color: rgb(12, 12, 12);
    scale: 1.2;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    margin-top: 100px;
    margin-bottom: 100%;
    
    transition: 1s;
    animation: border1 10s alternate-reverse infinite;
    
    
    
    cursor: pointer;
}
@keyframes border1 {
    0%{
        filter: drop-shadow(-3px -3px 5px greenyellow);
        

    }
    50%{
        filter: drop-shadow(2px 2px 5px greenyellow);
    }
    100%{
        filter: drop-shadow(3px 3px 10px greenyellow);
        
    }
    
}
.row1{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    grid-row: 2;
    
    justify-content: space-around;

}
.row2{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    
    justify-content: space-around;

}
.row3{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    
    justify-content: space-around;

}
.row4{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    
    justify-content: space-around;

}
.row5{
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    
    justify-content: space-around;

}
button{
    text-align: center;
    background-color: #39ff14;
    -webkit-background-clip: text;
    color: greenyellow;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-color:  #39ff14;
    margin: 2px;
    border-radius: 50%;
}
button:hover{
    color: #000;
    
    background: #39ff14;
    
}

input{
    color: #39ff14;
    background-color: rgb(31, 27, 27);
    padding: 5px;
    border-radius: 11px;
    border-color: greenyellow;
    
    margin-bottom: 10px;
}
input:focus{
    color: #39ff14;
    outline: none;
}
canvas {
    display: block;
    
    height: 100vh;
    width: 100vw;
     position: absolute;
    
    z-index: -10;}