.hcon{
    display: flex;
    justify-content: center;
    background-color:transparent;
}
.hcon > h1{
    font-size: 50px;
    
    color: transparent;
    -webkit-text-stroke: 1px greenyellow;
    background: url(img/neon.webp);
    background-clip: text;
    background-position: 0 0;
    animation: back 10s linear infinite;
    
    filter: drop-shadow(0px 0px 10px rgb(149, 245, 147));
}
@keyframes back {
    
    100%{
        background-position: 100px 2px;
    }
    
}
canvas {
    display: block;
    
    height: 100vh;
    width: 100vw;
     position: absolute;
    
    z-index: -10;}